
@keyframes test {
    0% {background: aquamarine; left: 0px; top: 0px; }
    25% {background-color: thistle; left: 0px; top: 100px;}
    50% {background-color: yellow; left: 200px; top: 100px;}
    75% {background-color: rgb(145, 255, 71); left: 200px; top: 0px;}
    100% {background-color: rgb(255, 153, 0); left: 0px; top: 0px;}
}

div {
    width: 300px;
    height: 200px;
    background-color: aquamarine;
    position: relative;
    animation-name: test;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
